<html>
	<head>
		<title>Movie Search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="Content/rzslider.min.css">

		<link rel="stylesheet" type="text/css" href="app/css/home.css">

		<script src="Scripts/jquery.min.js"></script>
		<script src="Scripts/angular.min.js"></script>
		<script src="Scripts/angular-ui-router.min.js"></script>
		<script src="Scripts/angular-cookies.min.js"></script>
		<script src="Scripts/bootstrap.js"></script>
		<script src="Scripts/rzslider.min.js"></script>

		<script src="app/app.module.js"></script>

		<script src="app/js/controller/homeController.js"></script>

		<script src="app/js/service/employeeService.js"></script>
	</head>

	<body ng-app="dbproject" class="container wrapper" ng-controller="homeController">
		<div class="header">
			<div class="title">
				<h1>MOVIEPEDIA</h1>
			</div>

			<div class="login-logout" ng-if="!isAdminLoggedIn">
				<button class="btn btn-primary" ng-click="openLoginDialog()">Admin Sign-In</button>
			</div>

			<div class="login-logout" ng-if="isAdminLoggedIn">
				<span class="welcome-msg"><strong>Welcome! Atul Banwar{{dbUser.name}}</strong></span>
				<button class="btn btn-primary" ng-click="logout()">Logout</button>
			</div>
		</div>

		<div ui-view></div>
	</body>
</html>