<!-- Form used to add new entries of Movie in database -->
<form class="form-horizontal alert alert-warning" name="empList" id="empForm" ng-submit="insertInfo(empInfo);" hidden>
	<h3 class="text-center">Insert Movie Details Into Database</h3>
	<div class="form-group">
		<label for="Name">Movie Name:</label>
		<input type="text" name="emp_name" class="form-control" placeholder="Enter Movie Name" ng-model="empInfo.emp_name" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_name.$invalid && empList.emp_name.$dirty">Name field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="Email">Plot:</label>
		<input type="email" name="emp_email" class="form-control" placeholder="Enter Plot" ng-model="empInfo.emp_email" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_email.$invalid && empList.emp_email.$dirty">Invalid Plot!</p>
	</div>
	<div class="form-group">
		<label for="Gender">Rating:</label>
		<label for="" class="radio-inline gender">
		<input type="radio" name="emp_gender" value="male" ng-model="empInfo.emp_gender">Male
		</label>
		<label for="" class="radio-inline gender">
		<input type="radio" name="emp_gender" value="female" ng-model="empInfo.emp_gender">Female
		</label>
	</div>
	<div class="form-group">
		<label for="Address">Address:</label>
		<input type="text" name="emp_address" class="form-control" placeholder="Enter Movie Address" ng-model="empInfo.emp_address" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_address.$invalid && empList.emp_address.$dirty">Address field is Empty!</p>
	</div>
	<div class="form-group btn-container">
		<button class="btn btn-warning btn-add-update" ng-disabled="empList.$invalid">Add Into Database</button>
		<button class="btn btn-warning btn-cancel" ng-click="cancelAddOrEdit()">Cancel</button>
	</div>
</form>