<!-- Form used for updation of data into database -->
<form class="form-horizontal alert" id="editForm" ng-submit="UpdateInfo(currentMovie)" hidden>
	<h3 class="text-center">Update Movie Details</h3>
	<div class="form-group">
		<label for="Id">Movie Id:</label>
		<input type="text" class="form-control" ng-model="currentMovie.imdb_id" value="{{currentMovie.imdb_id}}">
	</div>
	<div class="form-group">
		<label for="Title">Movie Name:</label>
		<input type="text" class="form-control" ng-model="currentMovie.title" value="{{currentMovie.title}}">
	</div>
	<div class="form-group">
		<label for="Released">Released Date:</label>
		<input type="text" class="form-control" ng-model="currentMovie.released" value="{{currentMovie.released}}">
	</div>
	<div class="form-group">
		<label for="Runtime">Runtime:</label>
		<input type="text" class="form-control" ng-model="currentMovie.runtime" value="{{currentMovie.runtime}}">
	</div>
	<div class="form-group">
		<label for="Plot">Plot:</label>
		<input type="text" class="form-control" ng-model="currentMovie.plot" value="{{currentMovie.plot}}">
	</div>
	<div class="form-group">
		<label for="Awards">Awards:</label>
		<input type="text" class="form-control" ng-model="currentMovie.awards" value="{{currentMovie.awards}}">
	</div>
	<div class="form-group">
		<label for="Poster">Poster URL:</label>
		<input type="text" class="form-control" ng-model="currentMovie.poster" value="{{currentMovie.poster}}">
	</div>
	<div class="form-group">
		<label for="Metascore">Metascore:</label>
		<input type="text" class="form-control" ng-model="currentMovie.metascore" value="{{currentMovie.metascore}}">
	</div>
	<div class="form-group">
		<label for="Rating">IMDB Rating:</label>
		<input type="text" class="form-control" ng-model="currentMovie.imdb_rating" value="{{currentMovie.imdb_rating}}">
	</div>
	<div class="form-group">
		<label for="Counts">IMDB Vote Counts:</label>
		<input type="text" class="form-control" ng-model="currentMovie.imdb_votes" value="{{currentMovie.imdb_votes}}">
	</div>
	<div class="form-group btn-container">
		<button class="btn btn-primary btn-action" ng-disabled="movieList.$invalid" ng-click="updateMsg(currentMovie.imdb_id)">Update</button>
		<button class="btn btn-primary btn-cancel" ng-click="cancel()">Cancel</button>
	</div>
	</div>
</form>
